*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  height: 100vh;
  width: 100%;
  background-color: yellowgreen;
}

.nav-1{
  background-color: yellow;
}

.nav-1 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 90%;
  margin: auto;
}

.nav-1 nav .logo{
  font-size: 2rem;
}

.nav-1 nav ul{
  display: flex;
}

.nav-1 nav ul li{
  position: relative;
  margin-left:40px;
  padding: 5px 10px;
}

.nav-1 nav ul li::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
  border-bottom: 2px solid yellowgreen;
  transition: 0.3s ease-in;
}
.nav-1 nav ul li::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 0;
  right: 0;
  top: 0;
  border-top: 2px solid yellowgreen;
  transition: 0.3s ease-in;
}
.nav-1 nav ul li:hover::before{
  width: 50%;
}
.nav-1 nav ul li:hover::after{
  width: 50%;
}


